<h1>{{ node.title.value }}</h1>

{% if node.field_lead_text.value %}
    <div class="article-intro">{{ node.field_lead_text.value|raw }}</div>
{% endif %}

{% include directory ~ '/templates/partials/gallery.html.twig' %}

<div class="four-dimension-matrix posted-style">
    <div class="when">POSTED ON {{ (node.created.value|date('F ') ~ node.created.value|date('j, Y'))|raw }}</div>
</div>

{% include directory ~ '/templates/partials/event-list.html.twig' %}

{% if node.field_body.value %}
    <div class="article">
        <div class="article-body text-style">{{ node.field_body.value|raw }}</div>
    </div>
{% endif %}

{% include directory ~ '/templates/partials/expandable-list.html.twig' %}

{% if node.field_body_2.value %}
    <div class="article">
        <div class="article-body text-style">{{ node.field_body_2.value|raw }}</div>
    </div>
{% endif %}

{% if contact_form %}
    {{ contact_form }}
{% endif %}

{% include directory ~ '/templates/partials/file-attachments.html.twig' %}
{% include directory ~ '/templates/partials/sharing.html.twig' %}
